* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    overflow: hidden;
}
#container{
    display: flex;
}
.outer{
    margin-right: 10px;
}
iframe {
    border: none;
    position: relative;
}
#techmeme {
    top: -204px;
}
#hn {
    top: -65px;
}
#twitter {
    top: -72px;
}
